{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^react$",
    "^react/(.*)$",

    "^next$",
    "^next/(.*)$",
    "^next/font/(.*)$",

    "<THIRD_PARTY_MODULES>",

    "^server-only$",
    "^use server$",

    "^@/env$",
    "^@/config/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",

    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/generated/(.*)$",

    "^@/trpc/(.*)$",
    "^@/actions/(.*)$",

    "^@/hooks/(.*)$",

    "^@/components/(.*)$",

    "^@/features/.*/hooks/(.*)$",
    "^@/features/.*/components/(.*)$",
    "^@/features/.*/data/(.*)$",
    "^@/features/.*/views/(.*)$",

    "^@/features/(.*)$",

    "^@/styles/(.*)$",
    "^@/assets/(.*)$",
    "^@/fonts/(.*)$",

    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
